/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font,
img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button
{margin:0;padding:0;border:0;}
ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top;}
select { color:#555; vertical-align:middle; padding: 5px; }
input { color:#555; font-size: 13px; font-family: 'NotoSans', Arial; vertical-align:middle; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none;}






#screen {width:100%; height:100%}
#screen #section-A {width: 50%; height: 100%; left: 0; top: 0; position:absolute; background-color:aliceblue;}
#screen #section-A #canvasA {border: 1px solid black; margin: 150px 0px 0px 100px; }
#screen #section-A #statusA {border: 1px solid ; width: 800px; height: 200px; left: 100px; position: absolute; background-color:aqua;}
#screen #section-A #statusA #healthA {width: 800px; height: 10px; left: 0; top: 0; position:absolute; background-color: red;}
#screen #section-A #statusA #weapon-section-A {width: 400px; height: 190px; left: 0; top: 10px; position: absolute; background-color: steelblue;}
#screen #section-A #statusA #weapon-section-A #bulletA {width: 100px; height: 50px; left: 10px; top: 125px; position:absolute; background-color: ghostwhite;}
#screen #section-A #statusA #weapon-section-A #weapon1A {width: 100px; height: 100px; left: 10px; top: 10px; position:absolute; background-color: ghostwhite;}
#screen #section-A #statusA #weapon-section-A #weapon2A {width: 50px; height: 50px; left: 130px; top: 10px; position:absolute; background-color: ghostwhite;}
#screen #section-A #statusA #weapon-section-A #weapon3A {width: 50px; height: 50px; left: 200px; top: 10px; position:absolute; background-color: ghostwhite;}
#screen #section-A #statusA #weapon-section-A #weapon4A {width: 50px; height: 50px; left: 270px; top: 10px; position:absolute; background-color: ghostwhite;}
#screen #section-A #statusA #armor-section-A {width: 250px; height: 190px; left: 50%; top: 10px; position: absolute; background-color:slategrey;}
#screen #section-A #statusA #armor-section-A #helmetA {width: 50px; height: 50px; left: 10px; top: 10px; position:absolute; background-color: white;}
#screen #section-A #statusA #armor-section-A #helmetA #hA{width: 50px; height: 30px; top: 50px; position:absolute;}
#screen #section-A #statusA #armor-section-A #helmetA #h-infoA{width: 50px; height: 30px; top: 70px; position:absolute;}
#screen #section-A #statusA #armor-section-A #armorA {width: 50px; height: 50px; left: 80px; top: 10px; position:absolute; background-color: white;}
#screen #section-A #statusA #armor-section-A #armorA #aA{width: 50px; height: 30px; top: 50px; position:absolute;}
#screen #section-A #statusA #armor-section-A #armorA #a-infoA{width: 50px; height: 30px; top: 70px; position:absolute;}
#screen #section-A #statusA #armor-section-A #shoesA {width: 50px; height: 50px; left: 150px; top: 10px; position:absolute; background-color: white;}
#screen #section-A #statusA #armor-section-A #shoesA #sA{width: 50px; height: 30px; top: 50px; position:absolute;}
#screen #section-A #statusA #armor-section-A #shoesA #s-infoA{width: 50px; height: 30px; top: 70px; position:absolute;}
#screen #section-A #statusA #info-section-A {width: 150px; height: 190px; left: 650px; top: 10px; position:absolute; background-color: white;}

#screen #section-B {width: 50%; height: 100%; left: 50%; top: 0; position:absolute; background-color: antiquewhite}
#screen #section-B #canvasB {border: 1px solid black; margin: 150px 0px 0px 100px; }
#screen #section-B #statusB {border: 1px solid ; width: 800px; height: 200px; left: 100px; position: absolute; background-color:aqua;}
#screen #section-B #statusB #healthB {width: 800px; height: 10px; left: 0; top: 0; position:absolute; background-color: red;}
#screen #section-B #statusB #weapon-section-B {width: 400px; height: 190px; left: 0; top: 10px; position: absolute; background-color: steelblue;}
#screen #section-B #statusB #weapon-section-B #bulletB {width: 100px; height: 50px; left: 10px; top: 125px; position:absolute; background-color: ghostwhite;}
#screen #section-B #statusB #weapon-section-B #weapon1B {width: 100px; height: 100px; left: 10px; top: 10px; position:absolute; background-color: ghostwhite;}
#screen #section-B #statusB #weapon-section-B #weapon2B {width: 50px; height: 50px; left: 130px; top: 10px; position:absolute; background-color: ghostwhite;}
#screen #section-B #statusB #weapon-section-B #weapon3B {width: 50px; height: 50px; left: 200px; top: 10px; position:absolute; background-color: ghostwhite;}
#screen #section-B #statusB #weapon-section-B #weapon4B {width: 50px; height: 50px; left: 270px; top: 10px; position:absolute; background-color: ghostwhite;}
#screen #section-B #statusB #armor-section-B {width: 400px; height: 190px; left: 50%; top: 10px; position: absolute; background-color: slategrey;}
#screen #section-B #statusB #armor-section-B #helmetB {width: 50px; height: 50px; left: 10px; top: 10px; position:absolute; background-color: ghostwhite ;}
#screen #section-B #statusB #armor-section-B #helmetB #hB{width: 50px; height: 30px; top: 50px; position:absolute;}
#screen #section-B #statusB #armor-section-B #helmetB #h-infoB{width: 50px; height: 30px; top: 70px; position:absolute;}
#screen #section-B #statusB #armor-section-B #armorB {width: 50px; height: 50px; left: 80px; top: 10px; position:absolute; background-color: ghostwhite;}
#screen #section-B #statusB #armor-section-B #armorB #aB{width: 50px; height: 30px; top: 50px; position:absolute;}
#screen #section-B #statusB #armor-section-B #armorB #a-infoB{width: 50px; height: 30px; top: 70px; position:absolute;}
#screen #section-B #statusB #armor-section-B #shoesB {width: 50px; height: 50px; left: 150px; top: 10px; position:absolute; background-color: ghostwhite;}
#screen #section-B #statusB #armor-section-B #shoesB #sB{width: 50px; height: 30px; top: 50px; position:absolute;}
#screen #section-B #statusB #armor-section-B #shoesB #s-infoB{width: 50px; height: 30px; top: 70px; position:absolute;}
#screen #section-B #statusB #info-section-B {width: 150px; height: 190px; left: 650px; top: 10px; position:absolute; background-color: ghostwhite;}

.pistol {background:url(../css/images/weapons/pistol.png);background-size:100% 100%; }
.UZI {background:url(../css/images/weapons/UZI.png); background-size:100% 100%; }
.shotgun {background:url(../css/images/weapons/shotgun.png);background-size:100% 100%; }
.rocket {background:url(../css/images/weapons/rocket.png);background-size:100% 100%; }
.claymore {background:url(../css/images/weapons/claymore.png);background-size:100% 100%; }
.bigShotgun {background:url(../css/images/weapons/bigShotgun.png);background-size:100% 100%; }
.shield {background:url(../css/images/weapons/shield.png); background-size: 100% 100%; }

.leather-helmet {background:url(../css/images/weapons/leather-helmet.png);background-size:100% 100%; }
.wood-helmet {background:url(../css/images/weapons/wood-helmet.png);background-size:100% 100%; }
.steel-helmet {background:url(../css/images/weapons/steel-helmet.png);background-size:100% 100%; }

.leather-armor {background:url(../css/images/weapons/leather-armor.png);background-size:100% 100%; }
.wood-armor {background:url(../css/images/weapons/wood-armor.png);background-size:100% 100%; }
.steel-armor {background:url(../css/images/weapons/steel-armor.png);background-size:100% 100%; }

.leather-shoes {background:url(../css/images/weapons/leather-shoes.png);background-size:100% 100%; }
.wood-shoes {background:url(../css/images/weapons/wood-shoes.png);background-size:100% 100%; }
.steel-shoes {background:url(../css/images/weapons/steel-shoes.png);background-size:100% 100%; }